Source: ros-indigo-viper-ros
Section: misc
Priority: extra
Maintainer: Lars Kunze <l.kunze@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-octomap-msgs, ros-indigo-rospy, ros-indigo-sensor-msgs, ros-indigo-smach, ros-indigo-smach-ros, ros-indigo-soma-manager, ros-indigo-soma-msgs, ros-indigo-strands-navigation-msgs, ros-indigo-viper
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-viper-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-geometry-msgs, ros-indigo-message-runtime, ros-indigo-octomap-msgs, ros-indigo-rospy, ros-indigo-sensor-msgs, ros-indigo-smach, ros-indigo-smach-ros, ros-indigo-soma-manager, ros-indigo-soma-msgs, ros-indigo-strands-navigation-msgs, ros-indigo-viper
Description: The ROS integration of the viper package
